body {
  margin: 0;
  padding: 15px;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 20px;
}

div {
  overflow-x: auto;
}

svg {
  margin-bottom: 16px;
}

text {
  font-family: Helvetica;
  font-size: 12px;
}

path {
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.5;
}

path.active,
path:hover {
  stroke-width: 1.0;
  fill-opacity: 1.0;
}

path.hidden {
  display: none;
}

pre {
  background-color: rgb(246, 248, 250);
  color: rgb(36, 41, 46);
  line-height: 20px;
  font-size: 12px;
  padding: 16px;
  margin: 0;
  margin-bottom: 16px;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  overflow-y: auto;
}

code {
  font-family: Hasklig, monospace;
}

ul#legend {
  width: 300px;
  height: 500px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  float: left;
}

ul#legend li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#legend li {
  border-top: 1px solid rgb(225, 228, 232);
}

ul#legend li.active,
ul#legend li:hover {
  background-color: rgb(246, 248, 250);
}

g#grid line {
  stroke-width: 0.1;
  stroke: black;
  fill: none;
  vector-effect: non-scaling-stroke;
}

text.label {
  font-size: 9px;
}
text.label.x {
  dominant-baseline: hanging;
  text-anchor: middle;
}
text.label.y {
  alignment-baseline: middle;
  text-anchor: end;
}
